1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
* : Expression
&#39;hello&#39; : Value
-87.8 : Value
- : Expression
/ : Expression
+ : Expression
6 : Value

2. What is the difference between string and variable?
a string is data type which represents a sequence of characters

Variable is a named reference to a value stored in memory it is used to store different types of data like string,intiger,list ,tuple etc.

3. Describe three different data types.
boolean - this data type stores the value as either TRUE or False
int - this data type store integer value means a value without decimal or fracation these are usually whole numbers
string- this data type store sequence of charachters and a string is enclosd in "string"

4. What is an expression made up of? What do all expressions do?
a expression consists of operators,operands,values,variables or function call that evaluates to a result(Value)

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

an expression produces a value while a statement carries out an action or operation. Expressions can be part of statements but not all statements are expressions.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

here in this code bacon will always be 22 reason is bacon+1 is not assigned to any value we are just adding 1 to bacon but not storing it in bacon variable.

In [1]:
bacon = 22
bacon + 1
print(bacon)

22

7. What should the values of the following two terms be?
'spam'+'spamspam'  - it will perform the concatenate operation result will be spamspamspam
'spam'* 3 - it will repeat the spam 3 time spamspamspam

In [3]:
a='spam'+'spamspam'
b='spam'* 3

In [4]:
a

'spamspamspam'

In [5]:
b

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?
its because of the concept of variable naming convention a variable name can start with a letter or underscore but never with a digit
as you can see below its showing as syntax error.

In [6]:
100='nakul'
eggs='nakul'

SyntaxError: cannot assign to literal (1761793859.py, line 1)

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [ ]:
int()
float()
str()

10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos'

the error would be type error reason is here in this example we are trying to concatenate string with integer type and thats not possible we can resolve this by making 99 a strig as below

In [7]:
'I have eaten' + 99 + 'burritos' # as you can see its throwing type error

TypeError: can only concatenate str (not "int") to str

In [11]:
'I have eaten' + ' 99' +  ' burritos'

'I have eaten 99 burritos'